module.exports = {
  apps: [
    {
      name: 'red_rose',      // The name of your app in PM2
      script: 'dist/index.js', // Path to your app's entry file inside the dist folder
      watch: true,          // Optionally, set to true if you want PM2 to restart the app on file changes
      env: {
        NODE_ENV: 'production', // Set environment variables if needed
      },
    },
  ],
};
